<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">




    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_fav_temp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_fav_temp"
        android:supportsRtl="true"
        android:theme="@style/Theme.RanteksCalc"
        tools:targetApi="31"
        tools:ignore="DiscouragedApi,LockedOrientationActivity"
        >


        <activity
            android:name="SettingsMenuActivity.SettingsPage"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="TutorialActivity.TutorialMenu"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="TutorialActivity.HelperMain"
            android:exported="true"
            android:screenOrientation="portrait">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>






        <activity
            android:name="SettingsMenuActivity.LogisticPrice"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="CalculateMenuActivity.LogisticCalculate"
            android:exported="false"
            android:screenOrientation="portrait"/>




        <activity
            android:name="CalculateMenuActivity.Rent"
            android:exported="false"
            android:screenOrientation="portrait"/>


        <activity
            android:name="CalculateMenuActivity.CalculateMenu"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="CalculateMenuActivity.MaterialCalculate"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="CalculateMenuActivity.WorkCalculate"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="SettingsMenuActivity.WorkSettings"
            android:exported="false"
            android:screenOrientation="portrait"/>


        <activity
            android:name="CalculateMenuActivity.Markup"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="SettingsMenuActivity.MaterialSettings"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ChangeLog"
            android:exported="false"
            android:screenOrientation="portrait"/>


        <activity
            android:name="CalculateMenuActivity.Other"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="SettingsMenuActivity.MaterialSelectSettings"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="SettingsMenuActivity.MaterialNameSettings"
            android:exported="false"
            android:screenOrientation="portrait"/>



        <activity
            android:name=".ProfileListMenu"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MainMenu"
            android:exported="false"
            android:screenOrientation="portrait"/>



        <activity
            android:name="TutorialActivity.CalculateTutorial"
            android:exported="false"
            android:screenOrientation="portrait"/>



        <activity
            android:name="TutorialActivity.HelperCalculate"
            android:exported="false"
            android:screenOrientation="portrait"/>




    </application>



</manifest>